#about {
    display: flex;
    flex-direction: column;
    width: 25%;
    overflow-y: auto;
}

.heading {
    width: 100%;
    font-size: 16px;
    border-top: 1px solid lightgray;
    padding: 22px 0 22px 10px;
    opacity: 0.7;
    box-sizing: border-box;
}

.heading .fa-caret-right, .heading .fa-times {
    float: right;
    padding-right: 10px;
}

.heading:hover {
    transition: 0.1s;
    opacity: 1;
    cursor: pointer;
}

.hidden {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.label {
    font-size: 13px;
    font-weight: 900;
    color: #717274;
    margin-bottom: 5px;
}

.hiddenBlock {
    margin-bottom: 20px;
}

.hiddenBlock a:not(:hover) {
    text-decoration: none;
}

.member {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.member i {
    margin-left: 5px;
}


@keyframes invisiblyGrowFontSize {
	0% {
        font-size: 0;
        opacity: 0;
    }
    
	100% {
        font-size: 1em;
        opacity: 0;
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.details-animated[open] .hidden {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 0.2s, 0.1s;
    animation-delay: 0s, 0.1s;
}

summary {
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}