#about {
    display: flex;
    flex-direction: column;
    width: 24%;
}

.heading {
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid lightgray;
    padding: 22px 0 22px 10px;
    opacity: 0.7;
}

.heading:first-child {
    background: #f9f9f9;
    font-weight: 900;
}

.heading:hover {
    transition: 0.1s;
    opacity: 1;
    cursor: pointer;
}