.heading {
    width: 100%;
    font-size: 16px;
    border-top: 1px solid lightgray;
    padding: 22px 0 22px 10px;
    opacity: 0.7;
    box-sizing: border-box;
    user-select: none;
}

.heading .fa-caret-right, .heading .fa-times {
    float: right;
    padding-right: 10px;
}

.heading:hover {
    transition: 0.1s;
    opacity: 1;
    cursor: pointer;
}

.hidden {
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.label {
    font-size: 13px;
    font-weight: 900;
    color: #717274;
    margin-bottom: 5px;
}

.hiddenBlock {
    margin-bottom: 20px;
}

.hiddenBlock a:not(:hover) {
    text-decoration: none;
}

.member {
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.member i {
    margin-left: 5px;
}


@keyframes invisiblyGrowFontSize {
	0% {
        font-size: 0;
        opacity: 0;
    }
    
	100% {
        font-size: 1em;
        opacity: 0;
	}
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.details-animated {
    user-select: none;
}

.details-animated[open] .hidden {
    animation-name: invisiblyGrowFontSize, fadeIn;
    animation-duration: 0.2s, 0.1s;
    animation-delay: 0s, 0.1s;
}

.details-animated[open] .fa-caret-right {
    transform: rotate(90deg);
    margin-right: 3px;
}

summary {
    outline: none;
}

summary::-webkit-details-marker {
    display: none;
}


.item {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.item:hover {
    cursor: pointer;
}

.name {
    font-weight: 900;
    display: inline;
}

.dateOfItem {
    color: #A0A0A2;
}

.content {
    margin-top: 5px;
    max-height: 115px;
    overflow-y: hidden;
}

.content {
    -webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.4)));
}