#chat {
    width: 75%;
    background: #fff;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

#messages {
    overflow-y: auto;
    height: 95%;
}

.message {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 10px;
}

.left-content {
    display: flex;
}

.username {
    font-weight: 900;
    margin-left: 7px;
    display: inline;
}

.messageText {
    margin-left: 7px;
    margin-top: 4px;
}

.time {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    color: #AB9BA9;
}

.message i {
    font-size: 12px;
    font-weight: 800;
    color: #AB9BA9;
}

.hoverButtons {
    height: 50%;
    display: flex;
    text-align: center;
    margin-right: 10px;
}

.hoverButtons i:first-child {
    /* border-width: 1px 1px 1px 1px; */
    border-radius: 5px 0 0 5px;
}

.hoverButtons i:last-child {
    border-radius: 0 5px 5px 0;
}

.hoverButtons i {
    width: 20px;
    padding: 7px;
    font-size: 17px;
    font-weight: 800;
    border: 1px solid black;
}

.message:not(:hover) i, .message:not(:hover) .hoverButtons {
    display: none;
}

.message:hover {
    background-color: #f9f9f9;
}

.message .avatar:hover{
    cursor: pointer;
}

.message .username:hover {
    cursor: pointer;
    text-decoration: underline;
}






#messageInput {
    width: 100%;
    display: flex;
    margin: 0 0 10px 10px;
}

#plusbutton {
    color: #A0A0A2;
    font-size: 35px;
    border: 2px solid #A0A0A2;
    padding: 0 10px 0 10px;
    border-radius: 8px 0 0 8px;
}

#plusbutton:hover {
    background: #56B68B;
    color: #fff;
    border-color: #29a979;
    cursor: pointer;
}

#input {
    width: 92%;
    padding-left: 10px;
    border: 2px solid #A0A0A2; 
    border-left-width: 0px;
    border-radius: 0 8px 8px 0;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

[placeholder]:not(:empty):before {
    content: "";
}

.green:hover {
    transition-duration: 0.1s;
    color: #56B68B;
    cursor: pointer;
}