#chat {
    width: 75%;
    background: #fff;
    border-right: 1px solid lightgray;
}

#messages {
    overflow-y: auto;
    height: 92%;
}

.message {
    display: flex;
    /* width: inherit; */
    margin: 10px 0 10px 10px;
}

.username {
    font-weight: 900;
    margin-left: 7px;
    display: inline;
}

.messageText {
    margin-left: 7px;
    margin-top: 4px;
}

.time {
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    color: #AB9BA9;
}

.message:hover {
    background-color: #f9f9f9;
    opacity: 0.7;
}

.message .avatar:hover{
    cursor: pointer;
}

.message .username:hover {
    cursor: pointer;
    text-decoration: underline;
}




#messageInput {
    width: 100%;
    display: flex;
}

#plusbutton {
    color: #A0A0A2;
}

#messageInput div {
    margin: 20px 0 10px 10px;
}

#messageInput form {
    margin: 20px 0 10px 3px;
    width: inherit;
}

#messageInput form input {
    width: 95%;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #A0A0A2; 
    border-radius: 5px; 
    background: #ffffff;
    outline: none;
    color: black;
    font-size: 16px;
}

.green:hover {
    transition-duration: 0.1s;
    color: #56B68B;
    cursor: pointer;
}