body {
    margin: 0;
    font-family: Slack-Lato,appleLogo, sans-serif;
    font-size: 15px;
}

#main {
    display: flex;
}

i {
    font-size: 9px;
}


#content {
    width: 100%;
}

#fl {
    display: flex;
    height: 93.5vh;
}