body {
    margin: 0;
    font-family: Slack-Lato,appleLogo, sans-serif;
    font-size: 15px;
    overflow: hidden;
}

#main {
    display: flex;
}

i {
    font-size: 9px;
}

a, a:link, a:visited {
    color: #0576b9;
}


#content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#fl {
    display: flex;
    height: 95%;
}