#channelHeader {
    width: 1700px;
    height: 50px;
    background: white;
    position: fixed;
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    justify-content: space-between;
}

#channelName {
    font-size: 17px;
    font-weight: 900;
    display: flex;
}

#channelInfo, #right {
    color: #717274;
}

#right {
    margin-right: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#right input {
    width: 300px;
    height: 40px;
    padding-top: 0;

    border: 1px solid #cccccc; 
    border-radius: 5px; 
    background: #ffffff;
    outline: none;
    height: 30px;
    color: black;
}

#right i, #right input {
    margin-left: 20px;
}


.blue:hover {
    transition-duration: 0.3s;
    color: #0576B9;
    cursor: pointer;
}

.red:hover {
    transition-duration: 0.3s;
    color: #eb4d5c;
    cursor: pointer;
}

.gold:hover {
    transition-duration: 0.3s;
    color: #fC0;
    cursor: pointer;
}

#topic:hover {
    transition-duration: 0.1s;
    border: 1px solid lightgray;
    cursor: pointer;
    box-sizing: padding-box;
}